h1 {
    font-size: 80px;
    color: #545454;
    display: inline;
}

h2 {
    font-size: 32px;
    display: inline;
    font-weight: 700;
    color: #A9A9A9;
}

h3 {
    font-family: 'Roboto', sans-serif;   
    color: #545454;
    font-size: 32px;
}

h4 {
    font-family: 'Roboto', sans-serif;    
    color: #545454;
    font-size: 24px;
}

h5 {
    font-family: 'Roboto', sans-serif;    
    color: #545454;
    font-size: 20px;
}

p {
    font-size: 20;
    font-weight: 700;
}

hr { 
    border-width: 3px;
    color: black;
} 

body {
	background-image: url('Images/background.png');
	background-repeat: repeat;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

.lineheader{
    border-top: 6px solid #2d5bb9;
    border-bottom: 6px solid #adc2eb;
    grid-area: lh;
    line-height: 150%;
}

.lineprojects{
    border-top: 6px solid #adc2eb;
    border-bottom: 6px solid #2d5bb9;
    grid-area: lp;
    line-height: 150%;
}

.lineworkxp{
    border-top: 6px solid #2d5bb9;
    border-bottom: 6px solid #adc2eb;
    grid-area: lw;
    line-height: 150%;
}

.linevolxp{
    border-top: 6px solid #adc2eb;
    border-bottom: 6px solid #2d5bb9;
    grid-area: lv;
    line-height: 150%;
}

.linefooter{
    border-top: 6px solid #2d5bb9;
    border-bottom: 6px solid #adc2eb;
    grid-area: lf;
    line-height: 150%;
}

.grid-header {
    grid-area: hb;
    font-family: 'Roboto', sans-serif;
}

.about-me {
    grid-area: ap;
    margin: auto;
}

.about-me > img {
    padding-left: 10%;
    width: 80%;
}


.disc {
    grid-area: am;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;

    font-size: 30px;
    
    color: #545454;
}

.disc > p {
    text-align: justify;
    font-weight: 500;
}

.disc > a {
    color: #FF3B3F;
    text-align: right;
    font-size: 40;
}

.grid-foot {
    grid-area: ff;
    color: #545454;
    padding-top: 20px;
    text-align: center;
}

.grid-foot a {
    color: #545454;
    text-decoration: none;
}

.grid-main {
    display: grid;
    align-items: stretch;
	grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
        "hb hb hb hb hb hb hb hb hb hb hb hb"
        "lh lh lh lh lh lh lh lh lh lh lh lh"
        "ap ap ap ap ap am am am am am am am"
        "lp lp lp lp lp lp lp lp lp lp lp lp"
        ".  sh sh sh sh sh sh sh sh sh sh . "
        ".  pb pb pb pb pb pb pb pb pb pb . "
        "lw lw lw lw lw lw lw lw lw lw lw lw"
        ".  wx wx wx wx wx wx wx wx wx wx . "
        "lv lv lv lv lv lv lv lv lv lv lv lv"
        ".  vx vx vx vx vx vx vx vx vx vx . "
        "lf lf lf lf lf lf lf lf lf lf lf lf"
		"ff ff ff ff ff ff ff ff ff ff ff ff"
}

.grid-projects {
    grid-area: pb;
}

.grid-skills {
    grid-area: rs;
    background-color: #e0e2e5;
    padding: 10px;
    margin: 8px -16px;
}

.grid-skills li{
    font-size: 16px;    
    color: #545454;
    text-align: justify;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.grid-workxp{
    grid-area: wx;
}

.grid-volxp{
    grid-area: vx;
}


.grid-software {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
        "hb hb hb hb hb hb hb hb hb hb hb hb"
        "lh lh lh lh lh lh lh lh lh lh lh lh"
        ". sh sh sh sh sh sh sh sh sh sh  ."
        ". pb pb pb pb pb pb pb pb pb pb  ."
        ". hl hl hl hl hl hl hl hl hl hl  ."
        "lp lp lp lp lp lp lp lp lp lp lp lp"
        "ff ff ff ff ff ff ff ff ff ff ff ff"
}

.grid-software-project{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
        "pn pn pn pn pn pn pn pn pn pn pn pn"
        ".  pi pi pi pi pc pc pc pc pc pc pc"
}

.project-name{
    grid-area: pn;
}

.project-image{
    grid-area: pi;
}

.project-image > img {
    width: 60%;
}

.project-content{
    grid-area: pc;
}

.software-header{
    grid-area: sh;
}

.software-header > img{
    width: 80%;
}

.homelink{
    grid-area: hl;
}

.grid-game {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
        "hb hb hb hb hb hb hb hb hb hb hb hb"
        "lh lh lh lh lh lh lh lh lh lh lh lh"
        ".  sh sh sh sh sh sh sh sh sh sh  ."
        ".  gv gv gv gv gv gd gd gd gd gd  ."
        ". pb pb pb pb pb pb pb pb pb pb  ."
        ".  hl hl hl hl hl hl hl hl hl hl  ."
        "lp lp lp lp lp lp lp lp lp lp lp lp"
        "ff ff ff ff ff ff ff ff ff ff ff ff"
}

.game-visual{
    grid-area: gv;
}

.game-details{
    grid-area: gd;

    font-size: 26px;
    
    color: #545454;
}

.game-details > p {
    text-align: justify;
    font-weight: 500;
}

.contributions {
    grid-area: co;
    padding-left: 5%;
}

.contributions p,li{
    font-size: 24px;    
    color: #545454;
    text-align: justify;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.contributions li{
    width: 90%;
}

* {
    box-sizing: border-box;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.content p,li{
    font-size: 24px;    
    color: #545454;
    text-align: justify;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.content li{
    width: 90%;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}